html,
body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
}

li {
      display: inline;
}

h1 {
      color: rgb(0, 38, 255);
      font-family: 'Courier New', Courier, monospace;
      font-weight: normal;
       height: 100px;
       width: 200px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       text-align: center;
}

html {
      background: #fffbd5;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(45deg, #f56481, #fffbd5, #baf8b4);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #f56481, #fffbd5, #baf8b4);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      background-size: 400%;
      animation: bg-animation 10s alternate infinite;
}


@keyframes bg-animation {
      0% {
            background-position: left;
      }

      100% {
            background-position: right;
      }
}



p {
      display: inline-block;
      align-items: center;
      color: #8a00fb;
      font-family: 'Courier New', Courier, monospace;
      font-size: 1.0em;   
      /* Center the text vertically and horizontally (not really necessary though) */
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: bold;
      word-wrap: break-word;
      
}

span {
      padding: 10px;
      border: 5px solid rgb(223, 182, 182);
      display: inline-block;
      align-items: center;
      top: 1.0rem;
      text-align: center;
    

}

#container div{
      display: flex;
      justify-content: center;
      align-content: center;
}

.nav {
      display: block;
      position: fixed;
      left : 50%;
}